.main {
  overflow: hidden;
}
.hero__wrapper {
  position: relative;
}
.hero {
  text-align: center;
  padding: 10rem 0;
  position: relative;
}
.hero .title {
  max-width: 60rem;
  line-height: 1;
  margin: 0 auto 1rem;
}
.hero .text {
  max-width: 30rem;
  margin: 0 auto 2rem;
}

.policy {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.policy .sub-title {
  margin-bottom: 8rem;
}
.policy-item-title {
  font-family: var(--title-font);
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.policy-item .text {
  margin: 0 auto 1rem;
  max-width: 40rem;
}
.policy-list {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.policy-svg {
  display: none;
}
.policy .btn,
.contacts .btn {
  background-color: var(--second-brand-color);
  color: var(--sub-text-color);
}
.policy .btn:hover,
.contacts .btn:hover {
  background-color: transparent;
  color: var(--second-brand-color);
}

.phrase__wrapper {
  background-color: var(--third-brand-color);
}
.phrase__wrapper-svg {
  display: none;
}
.phrase {
  padding: 12rem 0;
  text-align: center;
}
.phrase .title {
  margin-bottom: 2rem;
}

.contacts {
  padding: 10rem 0;
  text-align: center;
  position: relative;
}
.contacts-block {
  margin-bottom: 8rem;
}
.contacts .sub-title {
  margin-bottom: 1rem;
}
.contacts-block .text {
  margin: 0 auto 1rem;
  max-width: 40rem;
}
.contacts-span {
  font-family: var(--main-title-font);
  color: var(--second-brand-color);
  font-size: 1.5rem;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 0.5rem;
  position: relative;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 40rem;
  margin: 0 auto;
}

/* SVG */
.hero-svg,
.hero-svg-box,
.sections-divider,
.contacts-svg {
  display: none;
}
@media screen and (min-width: 1440px) {
  .hero {
    padding: 20rem 10rem;
    text-align: left;
  }
  .hero .text,
  .hero .btn,
  .hero .title {
    margin-left: 0;
  }
  /* SVG */
  .hero-svg {
    display: block;
    position: absolute;
  }
  .hero-svg.first {
    fill: var(--second-brand-color);
    transform: rotate(30deg);
    top: -90rem;
    left: 15%;
  }
  .hero-svg.second {
    fill: var(--third-brand-color);
    top: -80rem;
    right: 20%;
    transform: rotate(-10deg);
  }
  .hero-svg-box {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .hero-svg.third {
    width: 144rem;
    height: auto;
    top: -40rem;
    right: 20%;
    transform: rotate(-25deg);
  }
  .hero-svg.fourth {
    width: 144rem;
    height: auto;
    top: -50rem;
    left: 55%;
    transform: rotate(-30deg);
  }
  .hero-svg-box .circle {
    position: absolute;
    background-color: var(--third-brand-color);
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
  }
  .circle.first {
    right: 29.9%;
    top: 10rem;
  }
  .circle.second {
    right: 31%;
    top: 30rem;
    width: 1rem;
    height: 1rem;
  }
  .circle.third {
    right: 61.8%;
    top: 60rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .circle.fourth {
    right: 80%;
    top: 85rem;
    width: 3rem;
    height: 3rem;
  }
  .circle.fifth {
    left: 93.5%;
    top: 15rem;
    width: 1rem;
    height: 1rem;
  }
  .circle.sixth {
    left: 99%;
    top: 30rem;
    width: 3rem;
    height: 3rem;
  }
  .circle.seventh {
    left: 69.7%;
    top: 50rem;
  }
  /* SVG */
  .sections-divider {
    font-size: 2rem;
    font-family: var(--main-title-font);
    width: 3rem;
    height: 3rem;
    color: var(--second-brand-color);
    border: 0.2rem solid var(--second-brand-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 3;
    position: relative;
  }
  .sections-divider::before,
  .sections-divider::after {
    left: 50%;
    top: -7rem;
    transform: translate(-50%, 0);
    width: 0.2rem;
    height: 6rem;
    background-color: var(--second-brand-color);
    display: block;
    content: ' ';
    position: absolute;
    z-index: 2;
  }
  .sections-divider::after {
    top: unset;
    bottom: -7rem;
  }
  .policy {
    padding: 10rem 0;
    text-align: center;
    position: relative;
  }

  .phrase__wrapper-svg {
    display: block;
    width: 100%;
    height: auto;
    fill: var(--third-brand-color);
  }
  .phrase__wrapper-svg.bottom {
    transform: rotate(180deg);
  }

  .policy__wrapper,
  .phrase__wrapper {
    position: relative;
  }
  .policy-svg {
    display: block;
    position: absolute;
    left: 47%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(70deg);
    fill: var(--third-brand-color);
  }

  .contacts-list {
    text-align: left;
  }
  .contacts__wrapper .container {
    position: relative;
  }
  .contacts-svg {
    display: block;
    position: absolute;
    width: 120rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contacts-span::before {
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    left: -2rem;
    transform: translate(0, -50%);
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: var(--second-brand-color);
  }
}
